<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ This Source Code Form is subject to the terms of the Mozilla Public License,
  ~ v. 2.0. If a copy of the MPL was not distributed with this file, You can
  ~ obtain one at http://mozilla.org/MPL/2.0/. OpenMRS is also distributed under
  ~ the terms of the Healthcare Disclaimer located at http://openmrs.org/license.
  ~ <p>
  ~ Copyright (C) OpenMRS Inc. OpenMRS is a registered trademark and the OpenMRS
  ~ graphic logo is a trademark of OpenMRS Inc.
  -->

<module configVersion="1.2">

    <!-- Base Module Properties -->
    <id>${project.parent.artifactId}</id>
    <name>${project.parent.name}</name>
    <version>${project.parent.version}</version>
    <package>org.openmrs.module.cfl</package>
    <author>Connect for Life</author>
    <description>
        ${project.parent.description}
    </description>

    <activator>${MODULE_PACKAGE}.CfldistributionModuleActivator</activator>

    <filter>
        <filter-name>CfldistributionRequireLoginLocationFilter</filter-name>
        <filter-class>org.openmrs.module.cfl.filter.CfldistributionRequireLoginLocationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CfldistributionRequireLoginLocationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>RedirectReferenceapplicationRequestsFilter</filter-name>
        <filter-class>org.openmrs.module.cfl.filter.RedirectReferenceapplicationRequestsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>RedirectReferenceapplicationRequestsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <require_version>${openmrs.platform.version}</require_version>

    <require_modules>
        <require_module version="${cflCoreVersion}">
            org.openmrs.module.cflcore
        </require_module>
    </require_modules>

    <aware_of_modules>
        <aware_of_module>org.openmrs.module.legacyui</aware_of_module>
        <aware_of_module>org.openmrs.module.locationbasedaccess</aware_of_module>
    </aware_of_modules>

    <advice>
        <point>org.openmrs.api.LocationService</point>
        <class>org.openmrs.module.cfl.advice.DefaultLocationPropertiesAdvice</class>
    </advice>

    <!-- Internationalization -->
    <!-- All message codes should start with @MODULE_ID@.* -->
    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
    <!-- /Internationalization -->

    <privilege>
        <name>App: cfl.legacyAdmin</name>
        <description>Able to access the advanced administration app</description>
    </privilege>

    <privilege>
        <name>App: cfl.styleGuide</name>
        <description>Able to access the style guide app</description>
    </privilege>

    <privilege>
        <name>App: cfl.manageApps</name>
        <description>Able to manage app definitions</description>
    </privilege>

</module>

